.spectrum-container {
  position: relative;
  padding: 10px 4px 4px;
  border: 1px solid #1e2424;
  background: #303737;
}

.spectrum-canvas {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #102018;
  background: #0b2d1e;
}
